@import "tailwindcss";
@import "@nuxt/ui";
@import "./assets/themes/cloudie.css";
@import "./assets/themes/cryolite.css";

:root {
  @apply select-none selection:bg-accented;
  
  /* modify overall font size */
  font-size: 17px;

  --ui-bg: white;
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-200);
  --ui-bg-accented: var(--ui-color-neutral-300);
  --ui-bg-inverted: var(--ui-color-neutral-900);
}

.dark {
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-700);
  --ui-bg-accented: var(--ui-color-neutral-600);
  --ui-bg-inverted: white;
}

/* Page transition */
@layer components {
  .blur-enter-from,
  .blur-leave-to {
    @apply opacity-0 blur-sm scale-95;
  }

  .blur-enter-to,
  .blur-leave-from {
    @apply opacity-100 blur-none scale-100;
  }

  .blur-enter-active,
  .blur-leave-active {
    @apply transition-all duration-250 ease-in-out;
  }
}
