@import "tailwindcss";
@import "@nuxt/ui";

@layer components {
  /* https://www.tints.dev */
  [data-theme="cryolite"] {
    --ui-radius: 0.5rem;

    --ui-color-primary-50: oklch(0.964 0.014 254.61);
    --ui-color-primary-100: oklch(0.939 0.024 253.95);
    --ui-color-primary-200: oklch(0.87 0.055 249.29);
    --ui-color-primary-300: oklch(0.808 0.084 246.78);
    --ui-color-primary-400: oklch(0.737 0.123 243.22);
    --ui-color-primary-500: oklch(0.678 0.122 241.83);
    --ui-color-primary-600: oklch(0.567 0.102 241.73);
    --ui-color-primary-700: oklch(0.463 0.083 241.66);
    --ui-color-primary-800: oklch(0.35 0.064 242.62);
    --ui-color-primary-900: oklch(0.25 0.045 241.45);
    --ui-color-primary-950: oklch(0.188 0.033 242.21);

    --ui-color-secondary-50: oklch(0.98 0.019 184.83);
    --ui-color-secondary-100: oklch(0.951 0.053 184.59);
    --ui-color-secondary-200: oklch(0.902 0.107 184.43);
    --ui-color-secondary-300: oklch(0.857 0.101 185.24);
    --ui-color-secondary-400: oklch(0.815 0.096 184.57);
    --ui-color-secondary-500: oklch(0.775 0.092 184.75);
    --ui-color-secondary-600: oklch(0.645 0.076 185.36);
    --ui-color-secondary-700: oklch(0.518 0.061 185.14);
    --ui-color-secondary-800: oklch(0.389 0.046 184.95);
    --ui-color-secondary-900: oklch(0.264 0.032 185.3);
    --ui-color-secondary-950: oklch(0.205 0.025 181.64);

    --ui-color-info-50: oklch(0.975 0.007 295.68);
    --ui-color-info-100: oklch(0.941 0.017 301.31);
    --ui-color-info-200: oklch(0.882 0.032 299.67);
    --ui-color-info-300: oklch(0.83 0.048 298.82);
    --ui-color-info-400: oklch(0.772 0.066 298.79);
    --ui-color-info-500: oklch(0.672 0.098 299.07);
    --ui-color-info-600: oklch(0.572 0.127 299.03);
    --ui-color-info-700: oklch(0.461 0.121 298.55);
    --ui-color-info-800: oklch(0.354 0.094 299.19);
    --ui-color-info-900: oklch(0.249 0.065 298.74);
    --ui-color-info-950: oklch(0.193 0.052 299.28);

    --ui-color-success-50: oklch(0.969 0.045 168.01);
    --ui-color-success-100: oklch(0.937 0.093 168.41);
    --ui-color-success-200: oklch(0.867 0.17 168.62);
    --ui-color-success-300: oklch(0.816 0.16 168.62);
    --ui-color-success-400: oklch(0.764 0.15 168.6);
    --ui-color-success-500: oklch(0.657 0.129 168.59);
    --ui-color-success-600: oklch(0.555 0.108 168.97);
    --ui-color-success-700: oklch(0.445 0.087 168.52);
    --ui-color-success-800: oklch(0.344 0.067 169.06);
    --ui-color-success-900: oklch(0.235 0.046 168.22);
    --ui-color-success-950: oklch(0.182 0.037 168.6);

    --ui-color-warning-50: oklch(0.975 0.019 72.57);
    --ui-color-warning-100: oklch(0.949 0.041 74.46);
    --ui-color-warning-200: oklch(0.899 0.09 78.14);
    --ui-color-warning-300: oklch(0.849 0.163 84.23);
    --ui-color-warning-400: oklch(0.795 0.16 84.87);
    --ui-color-warning-500: oklch(0.683 0.138 84.97);
    --ui-color-warning-600: oklch(0.581 0.117 85.22);
    --ui-color-warning-700: oklch(0.467 0.095 85.24);
    --ui-color-warning-800: oklch(0.355 0.071 84.49);
    --ui-color-warning-900: oklch(0.25 0.05 83.37);
    --ui-color-warning-950: oklch(0.189 0.039 86.53);

    --ui-color-error-50: oklch(0.958 0.016 12.9);
    --ui-color-error-100: oklch(0.917 0.033 13.24);
    --ui-color-error-200: oklch(0.837 0.072 15.52);
    --ui-color-error-300: oklch(0.756 0.118 16.28);
    --ui-color-error-400: oklch(0.677 0.172 18.18);
    --ui-color-error-500: oklch(0.595 0.202 20.14);
    --ui-color-error-600: oklch(0.504 0.171 20.38);
    --ui-color-error-700: oklch(0.413 0.14 20.2);
    --ui-color-error-800: oklch(0.324 0.11 20);
    --ui-color-error-900: oklch(0.233 0.08 19.92);
    --ui-color-error-950: oklch(0.184 0.061 19.69);

    --ui-color-neutral-50: var(--color-slate-50);
    --ui-color-neutral-100: var(--color-slate-100);
    --ui-color-neutral-200: var(--color-slate-200);
    --ui-color-neutral-300: var(--color-slate-300);
    --ui-color-neutral-400: var(--color-slate-400);
    --ui-color-neutral-500: var(--color-slate-500);
    --ui-color-neutral-600: var(--color-slate-600);
    --ui-color-neutral-700: var(--color-slate-700);
    --ui-color-neutral-800: var(--color-slate-800);
    --ui-color-neutral-900: var(--color-slate-900);
    --ui-color-neutral-950: var(--color-slate-950);
  }
}
